[data-testid='sidebarColumn'] {
  visibility: hidden;
}

.no-twitter-trends {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: #1da1f2;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-family: system-ui;
  border: 2px solid white;
  box-shadow: none;
  text-align: center;
}

/* Styles for the copied search form */
[role='search'] {
  width: 100%;
  max-width: 350px;
  margin-bottom: 16px;
}
